.body {
  transition: all 0.6s;
}
.sidebars {
  position: fixed;
  top: 0px;
  left: -300px;
  height: 800px;
  width: 270px;
  background-color: #f7f7f7;
  transition: all 0.5s;
}
.sidebarbe {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 800px;
  width: 270px;
  background-color: #f7f7f7;
  transition: all 0.5s;
}
.bodys {
  padding-left: 300px;
  transition: all 0.6s;
}
.hadread{
  padding-right: 0.5rem;
    text-align: center;
    font-size: 20px;
    margin-top: 2rem;
}
.jindu{
 
  height: 2rem;
  text-align: center;
  margin-top: 2rem;
  color: #00c4b6
}